In [1]:
import pandas as pd

In [6]:
test_dir = '/Users/swastik/ophthalmology/Project_Quality_Assurance/Final_QA_FDA/data_models/chocolate_feather/df_test.csv' # noqa
valid_dir = '/Users/swastik/ophthalmology/Project_Quality_Assurance/Final_QA_FDA/data_models/chocolate_feather/df_val.csv' # noqa
train_dir = '/Users/swastik/ophthalmology/Project_Quality_Assurance/Final_QA_FDA/data_models/chocolate_feather/df_train.csv'

In [7]:
df_test = pd.read_csv(test_dir).iloc[:, 2:]
df_test

,img,Excellent,Good,Adequate,Insuff_for_full,Insuff_for_any,labels,Redfree,other
0,007-5471-300.JPG,1,0,0,0,0,0,NaN,NaN
1,290004_1951013.JPG,0,0,0,1,0,2,NaN,NaN
2,287228_1929096.JPG,1,0,0,0,0,0,NaN,NaN
3,538373306840_57.JPG,0,1,0,0,0,1,0.0,0.0
4,303569_2057302.JPG,0,0,0,1,0,2,NaN,NaN
...,...,...,...,...,...,...,...,...,...
759,656995_8301336.JPG,0,0,0,1,0,2,NaN,NaN
760,231584_1523079.JPG,0,0,1,0,0,1,NaN,NaN
761,20170427182819247.JPG,1,0,0,0,0,0,NaN,NaN
762,329907_2264020.JPG,0,1,0,0,0,1,NaN,NaN
763,255224_1691019.JPG,0,0,1,0,0,1,NaN,NaN

In [8]:
df_valid = pd.read_csv(valid_dir).iloc[:, 2:]
df_valid

,img,Excellent,Good,Adequate,Insuff_for_full,Insuff_for_any,labels,Redfree,other
0,20170120223854648.JPG,1,0,0,0,0,0,NaN,NaN
1,299458_2024651.JPG,0,0,0,1,0,2,NaN,NaN
2,301839_2043723.JPG,1,0,0,0,0,0,NaN,NaN
3,294432_1985275.JPG,1,0,0,0,0,0,NaN,NaN
4,272650_1820786.JPG,0,0,0,1,0,2,NaN,NaN
...,...,...,...,...,...,...,...,...,...
758,324765_2224415.JPG,0,0,0,1,0,2,NaN,NaN
759,007-8834-605.JPG,0,0,0,0,1,2,NaN,NaN
760,20170430193513456.JPG,0,1,0,0,0,1,NaN,NaN
761,257895_1711283.JPG,0,1,0,0,0,1,NaN,NaN
762,277006_1854228.JPG,0,0,1,0,0,1,NaN,NaN

In [9]:
df_train = pd.read_csv(train_dir).iloc[:, 2:]
df_train

,img,Excellent,Good,Adequate,Insuff_for_full,Insuff_for_any,labels,Redfree,other
0,207521_1350712.JPG,0,1,0,0,0,1,NaN,NaN
1,207521_1350713.JPG,0,1,0,0,0,1,NaN,NaN
2,207521_1350715.JPG,1,0,0,0,0,0,NaN,NaN
3,207521_1350716.JPG,0,1,0,0,0,1,NaN,NaN
4,207521_1350717.JPG,0,1,0,0,0,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...
13753,007-3525-200.JPG,0,1,0,0,0,1,NaN,NaN
13754,007-3526-200.JPG,0,1,0,0,0,1,NaN,NaN
13755,007-3527-200.JPG,0,1,0,0,0,1,NaN,NaN
13756,007-3651-200.JPG,0,0,0,1,0,2,NaN,NaN
13757,007-3653-200.JPG,0,0,1,0,0,1,NaN,NaN

In [11]:
list(set(df_valid.img) & set(df_test.img)&set(df_train.img))

[]