In [2]:
import pandas as pd

In [3]:
df_train = pd.read_csv('/home/ubuntu/QA_code/QA_application/Processed_Input_files/Split_folders/2_cases_train_val_20220727-181159.csv').iloc[:,1:]
df_train

                                     image  labels
0        1057328_11472605_Left Field 3.JPG       0
1       1334116_13599891_Right Field 1.JPG       0
2         926652_10417862_Left Field 3.JPG       0
3        1175273_12410031_Left Field 3.JPG       0
4       1261963_13070059_Right Field 2.JPG       0
...                                    ...     ...
512227  1314554_13455839_Right Field 3.JPG       1
512228  1132380_12071324_Right Field 1.JPG       0
512229  1120879_11978828_Right Field 3.JPG       0
512230  1325187_13535058_Right Field 3.JPG       0
512231   1321278_13505627_Left Field 3.JPG       0

[512232 rows x 2 columns]

In [4]:
df_test = pd.read_csv('/home/ubuntu/QA_code/QA_application/Processed_Input_files/Split_folders/2_cases_test_20220727-181159.csv').iloc[:,1:]
df_test

                                    image  labels
0         806597_9478940_Left Field 3.JPG       0
1      1323368_13520882_Right Field 1.JPG       0
2       1270743_13137857_Left Field 1.JPG       0
3      1264191_13087326_Right Field 3.JPG       0
4      1316134_13467713_Right Field 3.JPG       0
...                                   ...     ...
26953   971517_10777032_Right Field 3.JPG       1
26954  1330444_13571434_Right Field 3.JPG       1
26955    628174_8072338_Right Field 2.JPG       1
26956                  304499_2064877.JPG       1
26957  1192373_12544456_Right Field 1.JPG       1

[26958 rows x 2 columns]

In [3]:
two_cases = pd.read_csv('/home/ubuntu/QA_code/QA_application/Processed_Input_files/2_cases.csv').iloc[:,1:]
two_cases

                                   image  labels
0                     207521_1350712.JPG       0
1                     207521_1350713.JPG       0
2                     207521_1350715.JPG       0
3                     207521_1350716.JPG       0
4                     207521_1350717.JPG       0
...                                  ...     ...
539185   691008_8567632_Left Field 1.JPG       0
539186  691008_8567633_Right Field 2.JPG       0
539187   691008_8567634_Left Field 2.JPG       0
539188  691008_8567635_Right Field 3.JPG       0
539189   691008_8567636_Left Field 3.JPG       0

[539190 rows x 2 columns]

In [4]:
two_cases['labels'].value_counts()

0    499033
1     40157
Name: labels, dtype: int64

In [5]:
three_cases = pd.read_csv('/home/ubuntu/QA_code/QA_application/Processed_Input_files/3_cases.csv').iloc[:,1:]
three_cases

                                   image  labels
0                     207521_1350712.JPG       1
1                     207521_1350713.JPG       1
2                     207521_1350715.JPG       0
3                     207521_1350716.JPG       1
4                     207521_1350717.JPG       1
...                                  ...     ...
539185   691008_8567632_Left Field 1.JPG       1
539186  691008_8567633_Right Field 2.JPG       1
539187   691008_8567634_Left Field 2.JPG       1
539188  691008_8567635_Right Field 3.JPG       1
539189   691008_8567636_Left Field 3.JPG       1

[539190 rows x 2 columns]

In [6]:
three_cases['labels'].value_counts()

1    417036
0     81997
2     40157
Name: labels, dtype: int64

In [9]:
four_cases = pd.read_csv('/home/ubuntu/QA_code/QA_application/Processed_Input_files/4_cases.csv').iloc[:,1:]
four_cases

                                   image  labels
0                     207521_1350712.JPG       1
1                     207521_1350713.JPG       1
2                     207521_1350715.JPG       0
3                     207521_1350716.JPG       1
4                     207521_1350717.JPG       1
...                                  ...     ...
539185   691008_8567632_Left Field 1.JPG       2
539186  691008_8567633_Right Field 2.JPG       2
539187   691008_8567634_Left Field 2.JPG       2
539188  691008_8567635_Right Field 3.JPG       2
539189   691008_8567636_Left Field 3.JPG       2

[539190 rows x 2 columns]

In [75]:
four_cases['labels'].value_counts()

2    220201
1    196835
0     81997
3     40157
Name: labels, dtype: int64

In [77]:
sfact = 2003
sfact

2003

In [33]:
four_cases = four_cases.sample(frac=1, random_state=42)

In [99]:
df_temp_1 = four_cases[four_cases['labels']==0][:sfact]
df_temp_2 = four_cases[four_cases['labels']==1][:sfact]
df_temp_3 = four_cases[four_cases['labels']==2][:sfact]
df_temp_4 = four_cases[four_cases['labels']==3][:sfact]
test_df_4 = pd.concat([df_temp_1, df_temp_2, df_temp_3, df_temp_4])
test_df_4

                                     image  labels
127227  1323368_13520882_Right Field 1.JPG       0
393748   906489_10260028_Right Field 1.JPG       0
343012  1097357_11792849_Right Field 1.JPG       0
455891    784968_9310479_Right Field 1.JPG       0
291904   1168198_12353967_Left Field 1.JPG       0
...                                    ...     ...
486059     575493_7657701_Left Field 1.JPG       3
426496     696872_8614514_Left Field 3.JPG       3
113078   1316715_13472150_Left Field 1.JPG       3
333298  1087210_11715473_Right Field 3.JPG       3
495078    594759_7808354_Right Field 3.JPG       3

[8012 rows x 2 columns]

In [100]:
short_sfact = 1001
df_temp2_good = four_cases[four_cases['labels']==1][:1002]
df_temp2_adequate = four_cases[four_cases['labels']==2][:1001]

In [101]:
test_df_3 = pd.concat([df_temp_1, df_temp2_good, df_temp2_adequate, df_temp_4])
test_df_3

                                     image  labels
127227  1323368_13520882_Right Field 1.JPG       0
393748   906489_10260028_Right Field 1.JPG       0
343012  1097357_11792849_Right Field 1.JPG       0
455891    784968_9310479_Right Field 1.JPG       0
291904   1168198_12353967_Left Field 1.JPG       0
...                                    ...     ...
486059     575493_7657701_Left Field 1.JPG       3
426496     696872_8614514_Left Field 3.JPG       3
113078   1316715_13472150_Left Field 1.JPG       3
333298  1087210_11715473_Right Field 3.JPG       3
495078    594759_7808354_Right Field 3.JPG       3

[6009 rows x 2 columns]

In [38]:
test_df_3['labels'].value_counts()

3    2003
0    2003
1    1002
2    1001
Name: labels, dtype: int64

In [40]:
667+667+667

2001

In [42]:
binary_sfact= 667
df_temp0_exc = four_cases[four_cases['labels']==0][:668]
df_temp1_g = four_cases[four_cases['labels']==1][:668]
df_temp2_adqe = four_cases[four_cases['labels']==2][:667]

In [43]:
test_df_2 = pd.concat([df_temp0_exc, df_temp1_g, df_temp2_adqe, df_temp_4])
test_df_2

                                     image  labels
127227  1323368_13520882_Right Field 1.JPG       0
393748   906489_10260028_Right Field 1.JPG       0
343012  1097357_11792849_Right Field 1.JPG       0
455891    784968_9310479_Right Field 1.JPG       0
291904   1168198_12353967_Left Field 1.JPG       0
...                                    ...     ...
486059     575493_7657701_Left Field 1.JPG       3
426496     696872_8614514_Left Field 3.JPG       3
113078   1316715_13472150_Left Field 1.JPG       3
333298  1087210_11715473_Right Field 3.JPG       3
495078    594759_7808354_Right Field 3.JPG       3

[4006 rows x 2 columns]

In [44]:
test_df_2['labels'].value_counts()

3    2003
1     668
0     668
2     667
Name: labels, dtype: int64

In [78]:
df_train_val_quad = four_cases[~four_cases['image'].isin(test_df_4['image'])]
df_train_val_quad

                                     image  labels
382082   1044826_11371355_Left Field 2.JPG       2
3642                    269826_1799435.JPG       2
248356  1229020_12818491_Right Field 1.JPG       2
209126  1197011_12577877_Right Field 1.JPG       2
7373                    272342_1818422.JPG       2
...                                    ...     ...
110268  1314554_13455839_Right Field 3.JPG       3
259178  1132380_12071324_Right Field 1.JPG       2
365838  1120879_11978828_Right Field 3.JPG       1
131932  1325187_13535058_Right Field 3.JPG       1
121958   1321278_13505627_Left Field 3.JPG       2

[531178 rows x 2 columns]

In [80]:
16151+2003

18154

In [81]:
df_train_val_quad1 = df_train_val_quad[df_train_val_quad['labels'] == 0][:17997]
df_train_val_quad2 = df_train_val_quad[df_train_val_quad['labels'] == 1][:17997]
df_train_val_quad3 = df_train_val_quad[df_train_val_quad['labels'] == 2][:17997]
df_train_val_quad4 = df_train_val_quad[df_train_val_quad['labels'] == 3][:18154]

In [82]:
df_train_val_quad = pd.concat([df_train_val_quad1, df_train_val_quad2, df_train_val_quad3, df_train_val_quad4])
df_train_val_quad

                                     image  labels
403528   937444_10530136_Right Field 3.JPG       0
296984  1173464_12395644_Right Field 2.JPG       0
331382  1085210_11697899_Right Field 2.JPG       0
524586     661221_8334635_Left Field 2.JPG       0
334298   1088252_11721694_Left Field 3.JPG       0
...                                    ...     ...
530510     673741_8430496_Left Field 1.JPG       3
4207                    306839_2083105.JPG       3
346307   1100782_11819454_Left Field 3.JPG       3
320041  1072779_11597395_Right Field 3.JPG       3
517834     646811_8220540_Left Field 2.JPG       3

[72145 rows x 2 columns]

In [83]:
df_train_val_quad['labels'].value_counts()

3    18154
2    17997
1    17997
0    17997
Name: labels, dtype: int64

In [84]:
df_train_val_quad.to_csv('/home/ubuntu/QA_code/QA_application/Processed_Input_files/Split_folders/trimmed/4_cases_train_val_trimmed.csv')
test_df_4.to_csv('/home/ubuntu/QA_code/QA_application/Processed_Input_files/Split_folders/trimmed/4_cases_test_trimmed.csv')

In [85]:
test_df_4['labels'].value_counts()

3    2003
2    2003
1    2003
0    2003
Name: labels, dtype: int64

In [86]:
df_train_val_tri_temp = four_cases[~four_cases['image'].isin(test_df_3['image'])]
df_train_val_tri_temp

                                     image  labels
128854  1323976_13525618_Right Field 1.JPG       2
89193   1296563_13318986_Right Field 1.JPG       2
267854   1142271_12149088_Left Field 3.JPG       2
436351    728244_8864403_Right Field 2.JPG       2
321090  1073825_11606554_Right Field 3.JPG       2
...                                    ...     ...
110268  1314554_13455839_Right Field 3.JPG       3
259178  1132380_12071324_Right Field 1.JPG       2
365838  1120879_11978828_Right Field 3.JPG       1
131932  1325187_13535058_Right Field 3.JPG       1
121958   1321278_13505627_Left Field 3.JPG       2

[533181 rows x 2 columns]

In [90]:
16151+2003

18154

In [91]:
df_train_val_tri_temp1 = df_train_val_tri_temp[df_train_val_tri_temp['labels'] == 0][:17997]
df_train_val_tri_temp2 = df_train_val_tri_temp[df_train_val_tri_temp['labels'] == 1][:18999]
df_train_val_tri_temp3 = df_train_val_tri_temp[df_train_val_tri_temp['labels'] == 2][:18998]
df_train_val_tri_temp4 = df_train_val_tri_temp[df_train_val_tri_temp['labels'] == 3][:18154]

In [92]:
df_train_val_tri = pd.concat([df_train_val_tri_temp1, df_train_val_tri_temp2, df_train_val_tri_temp3, df_train_val_tri_temp4])
df_train_val_tri

                                     image  labels
403528   937444_10530136_Right Field 3.JPG       0
296984  1173464_12395644_Right Field 2.JPG       0
331382  1085210_11697899_Right Field 2.JPG       0
524586     661221_8334635_Left Field 2.JPG       0
334298   1088252_11721694_Left Field 3.JPG       0
...                                    ...     ...
530510     673741_8430496_Left Field 1.JPG       3
4207                    306839_2083105.JPG       3
346307   1100782_11819454_Left Field 3.JPG       3
320041  1072779_11597395_Right Field 3.JPG       3
517834     646811_8220540_Left Field 2.JPG       3

[74148 rows x 2 columns]

In [93]:
df_train_val_tri['labels'].value_counts()

1    18999
2    18998
3    18154
0    17997
Name: labels, dtype: int64

In [94]:
import numpy as np
df_train_val_tri['labels'] = df_train_val_tri['labels'].replace([2],1)
df_train_val_tri['labels'].value_counts()

1    37997
3    18154
0    17997
Name: labels, dtype: int64

In [95]:
df_train_val_tri['labels'] = df_train_val_tri['labels'].replace([3],2)
df_train_val_tri['labels'].value_counts()

1    37997
2    18154
0    17997
Name: labels, dtype: int64

In [103]:
test_df_3['labels'].value_counts()

3    2003
0    2003
1    1002
2    1001
Name: labels, dtype: int64

In [104]:
test_df_3['labels'] = test_df_3['labels'].replace([2],1)
test_df_3['labels'].value_counts()

3    2003
1    2003
0    2003
Name: labels, dtype: int64

In [105]:
test_df_3['labels'] = test_df_3['labels'].replace([3],2)
test_df_3['labels'].value_counts()

2    2003
1    2003
0    2003
Name: labels, dtype: int64

In [106]:
df_train_val_tri.to_csv('/home/ubuntu/QA_code/QA_application/Processed_Input_files/Split_folders/trimmed/3_cases_train_val_trimmed.csv')
test_df_3.to_csv('/home/ubuntu/QA_code/QA_application/Processed_Input_files/Split_folders/trimmed/3_cases_test_trimmed.csv')

## Binary

In [114]:
df_train_val_duo_temp = four_cases[~four_cases['image'].isin(test_df_2['image'])]
df_train_val_duo_temp

                                     image  labels
106146   1311089_13429664_Left Field 3.JPG       2
490671     585620_7736425_Left Field 2.JPG       2
27486    1330102_13569710_Left Field 1.JPG       2
339262   1093466_11761746_Left Field 3.JPG       2
464611    814777_9543265_Right Field 3.JPG       2
...                                    ...     ...
110268  1314554_13455839_Right Field 3.JPG       3
259178  1132380_12071324_Right Field 1.JPG       2
365838  1120879_11978828_Right Field 3.JPG       1
131932  1325187_13535058_Right Field 3.JPG       1
121958   1321278_13505627_Left Field 3.JPG       2

[535184 rows x 2 columns]

In [117]:
72145+4006

76151

In [115]:
df_train_val_duo_temp1 = df_train_val_duo_temp[df_train_val_duo_temp['labels'] == 0][:19333]
df_train_val_duo_temp2 = df_train_val_duo_temp[df_train_val_duo_temp['labels'] == 1][:19332]
df_train_val_duo_temp3 = df_train_val_duo_temp[df_train_val_duo_temp['labels'] == 2][:19332]
df_train_val_duo_temp4 = df_train_val_duo_temp[df_train_val_duo_temp['labels'] == 3][:18154]

In [121]:
df_train_val_duo = pd.concat([df_train_val_duo_temp1, df_train_val_duo_temp2, df_train_val_duo_temp3, df_train_val_duo_temp4])
df_train_val_duo

                                     image  labels
478868     864986_9934525_Left Field 2.JPG       0
534332     681159_8489419_Left Field 1.JPG       0
439184     736822_8931425_Left Field 2.JPG       0
77037    1280806_13215766_Left Field 1.JPG       0
498114     602094_7866196_Left Field 3.JPG       0
...                                    ...     ...
530510     673741_8430496_Left Field 1.JPG       3
4207                    306839_2083105.JPG       3
346307   1100782_11819454_Left Field 3.JPG       3
320041  1072779_11597395_Right Field 3.JPG       3
517834     646811_8220540_Left Field 2.JPG       3

[76151 rows x 2 columns]

In [122]:
df_train_val_duo['labels'].value_counts()

0    19333
2    19332
1    19332
3    18154
Name: labels, dtype: int64

In [123]:
df_train_val_duo['labels'] = df_train_val_duo['labels'].replace([2],1)
df_train_val_duo['labels'].value_counts()

1    38664
0    19333
3    18154
Name: labels, dtype: int64

In [124]:
df_train_val_duo['labels'] = df_train_val_duo['labels'].replace([1],0)
df_train_val_duo['labels'].value_counts()

0    57997
3    18154
Name: labels, dtype: int64

In [125]:
df_train_val_duo['labels'] = df_train_val_duo['labels'].replace([3],1)
df_train_val_duo['labels'].value_counts()

0    57997
1    18154
Name: labels, dtype: int64

In [127]:
test_df_2['labels'].value_counts()

3    2003
1     668
0     668
2     667
Name: labels, dtype: int64

In [128]:
test_df_2['labels'] = test_df_2['labels'].replace([2],1)
test_df_2['labels'] = test_df_2['labels'].replace([1],0)
test_df_2['labels'] = test_df_2['labels'].replace([3],1)

In [129]:
test_df_2['labels'].value_counts()

1    2003
0    2003
Name: labels, dtype: int64

In [130]:
df_train_val_duo.to_csv('/home/ubuntu/QA_code/QA_application/Processed_Input_files/Split_folders/trimmed/2_cases_train_val_trimmed.csv')
test_df_2.to_csv('/home/ubuntu/QA_code/QA_application/Processed_Input_files/Split_folders/trimmed/2_cases_test_trimmed.csv')

In [132]:
test = pd.read_csv('/home/ubuntu/QA_code/QA_application/Processed_Input_files/Split_folders/trimmed/3_cases_train_val_trimmed.csv').iloc[:,1:]
test

                                    image  labels
0       937444_10530136_Right Field 3.JPG       0
1      1173464_12395644_Right Field 2.JPG       0
2      1085210_11697899_Right Field 2.JPG       0
3         661221_8334635_Left Field 2.JPG       0
4       1088252_11721694_Left Field 3.JPG       0
...                                   ...     ...
74143     673741_8430496_Left Field 1.JPG       2
74144                  306839_2083105.JPG       2
74145   1100782_11819454_Left Field 3.JPG       2
74146  1072779_11597395_Right Field 3.JPG       2
74147     646811_8220540_Left Field 2.JPG       2

[74148 rows x 2 columns]

In [133]:
test['labels'].value_counts()

1    37997
2    18154
0    17997
Name: labels, dtype: int64

In [136]:
35994+2003

37997

In [1]:
## Binary_Porting

In [22]:
import pandas as pd
import os
binary_file = pd.read_csv('/home/ubuntu/QA_code/QA_application/Processed_Input_files/Split_folders/trimmed/3_cases_train_val_trimmed.csv').iloc[:,1:]
binary_file

                                    image  labels
0       937444_10530136_Right Field 3.JPG       0
1      1173464_12395644_Right Field 2.JPG       0
2      1085210_11697899_Right Field 2.JPG       0
3         661221_8334635_Left Field 2.JPG       0
4       1088252_11721694_Left Field 3.JPG       0
...                                   ...     ...
74143     673741_8430496_Left Field 1.JPG       2
74144                  306839_2083105.JPG       2
74145   1100782_11819454_Left Field 3.JPG       2
74146  1072779_11597395_Right Field 3.JPG       2
74147     646811_8220540_Left Field 2.JPG       2

[74148 rows x 2 columns]

In [23]:
img_names = binary_file['image'].tolist()
img_names[:4]

['937444_10530136_Right Field 3.JPG',
 '1173464_12395644_Right Field 2.JPG',
 '1085210_11697899_Right Field 2.JPG',
 '661221_8334635_Left Field 2.JPG']

In [25]:
import shutil
source_file = '/home/ubuntu/EyePacs_Lenke_Dataset_Division/Test'
destination_file = '/home/ubuntu/Subset_EyePacs_Lenke_Dataset_Tri/Train'
for image in img_names:
    if (os.path.isfile(os.path.join(source_file,image))):
        shutil.copy(os.path.join(source_file,image), destination_file)